/* Applies to urls on the domain "mail.google.com" */

/* Hide the ads in the Gmail web app. */

.adC { display:none; }
.mq { display:none; }
.z0DeRc { display:none; } 
.oM { display:none; }
.u7 { display:none;}
.nH.PS { display:none; }
.ao8 table tr td.Bu + td.Bu { display:none; }
td.Bu.yPPMxf { display:none;}

.wIFnie,
.uXhw3b,
.ap0,
.l2

{ display: none; }

/* Hide each of the Google+ icons */

div.gb_7a.gb_Ce.gb_R.gb_Be.gb_X.gb_T{ display: none !important; }

/* Hide google logo for printing */

.bodycontainer > table {
    display: none;
}