/* less height for individual tasks */

.task_list_item .task_checkbox {
    margin-top: 0px !important;
}

.task_list_item__content {
    padding: 0px 0px !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    margin-right: 0px !important;
}

.task_content {
    line-height: 25px !important;
}

.task_list_item__info_tags {
    display: flex !important;
    flex-wrap: nowrap !important;
    margin-right: 0px !important;
}

.date {
    margin-right: 0px !important;
}

.task_list_item__actions {
    margin-top: 0px !important;
    margin-right: 150px !important;
    padding: 0px 0px !important;
}

.project_item__name {
    padding: 3px 2px 0px 0px;
}

#agenda_view .section_day, #agenda_view .section_overdue {
    margin-bottom: 0px !important;
}

ul.items.day_list.ul_today.is_filtered {
    margin-bottom: 10px !important;
}

ul.section_list>li {
	padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.view_header {
    margin-bottom: 0px !important;
    border-top: 10px #555555 !important;
}

.section {
    margin-bottom: 10px !important;
}    

.section h2, .section h2 a {
    padding-top: 10px !important;
    padding-bottom: 2px !important;
}

.subsection_header__date {
    font-size: 15px !important; 
}

div.project_editor_instance {
    margin-bottom: 0px !important;
}


.task_list_item__overflow_actions {
    top:0px !important;
}

/* hide add button */

.full_width_actions {
    display: none;
}

/* hide today and 7 days view */

#top_filters li.filter:nth-child(2) {
    display: none;
}

/* make top menu items (inbox, favourites) smaller */

.favorite_item{
    padding: 0!important;
}

#filter_inbox, #filter_upcoming{
    padding-top: 0!important;
    padding-bottom: 0!important;
}

/* make side menu items smaller */
.SidebarListItem {
    min-height: 18px!important;
}
.SidebarListItem__content {
    padding:0!important;
    line-height: 18px!important;
}

#left_menu.left_menu_project_iconongraphy .generic_left_list .name span.text, #left_menu.new_side_bar_design .generic_left_list .name span.text {
    width: calc(100% - 8px)!important;
    padding-left: 8px!important;
}

.td_color {
    min-width: 0!important;
    padding: 0 2px 0 0!important;
}

#projects_list .project::before, #projects_archived_ul .project::before, #ist_complete_result .project::before  {
    margin: 0 0 3px 0!important;
}

.menu_clickable div.drag_and_drop_handler,.FilterListItemSortable .dnd_handle , .LabelListItem .dnd_handle{
    padding: 0 0 0 0!important;
    margin-top: -4px!important;
}

.section_head_holder>.drag_and_drop_handler.drag_and_drop_handler {
    padding: 0 0 0 0!important;
    margin-top: 0px!important;
}
.section_head .collapser {
    top: 5px;
}

.generic_left_list .arrow {
    margin-top: -4px!important;
    padding: 0!important;
}

.task_item .arrow {
    margin-top: -2px!important;
}

.menu {
    padding-bottom:0!important;
    padding-top:0!important;
}


.name, .counter {
    line-height: 18px!important;
    padding:0!important;
}


html, body {
    height: 100%;
    overflow: hidden;
}

#todoist_app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}
