/* hide today and 7 days view */

#top_filters li.filter:nth-child(2), #top_filters li.filter:nth-child(3) {
    display: none;
}

/* make top menu items (inbox, favourites) smaller */

.favorite_item{
    padding: 0!important;
}

#filter_inbox{
    padding: 0!important;
}



/* make side menu items smaller */

.td_color {
    min-width: 0!important;
    padding: 0 2px 0 0!important;
}

#projects_list .project::before, #projects_archived_ul .project::before, #ist_complete_result .project::before  {
    margin: 0 0 3px 0!important;
}

.menu_clickable div.drag_and_drop_handler,.FilterListItemSortable .dnd_handle {
    padding: 0 0 0 0!important;
    margin-top: -4px!important;
}



#labels_list .td_color, #filters_list .td_color {
    padding: 0 0 0 0!important;
}


.generic_left_list .arrow {
    margin-top: -4px!important;
    padding: 0!important;
}

.task_item .arrow {
    margin-top: -2px!important;
}

.menu {
    padding:0!important;
}


.name {
    line-height: 18px!important;
    padding:0!important;
}

.task_item td.menu {
    padding-top: 1px!important;
    padding-bottom: 1px!important
}

.panel_summary {
   padding:3px 0px 3px 0px !important;
}

.adder_icon {
    padding:6px 0 0 0!important;
}

div.panel_summary__icon {
    padding:0!important;
    margin:0!important;
}

/* decrease the indentation */

#top_filters{
    padding: 0!important;
}

.generic_left_list .indent_2 {
    padding-left: 15px !important;
}
.generic_left_list .indent_3 {
    padding-left: 30px !important;
}
.generic_left_list .indent_4 {
    padding-left: 45px !important;
}


/* compact tasks */


.task_item div.drag_and_drop_handler {
    padding: 0 0 0 0!important;
    margin-top: -9px!important;
}

.task_content_item, .td_due_date {
    padding:0!important;
}

.sel_checkbox_td {
    padding:0 5px 0 0!important;
}

#editor {
    padding-top: 50px!important;
    padding-bottom: 50px!important;
}

.section_overdue {
    margin-bottom:5px!important;
}

.section_day {
    margin-bottom:5px!important;
}

#agenda_view .section_separator, .section_separator, #agenda_view ul, .project_editor_instance{
    margin-bottom:5px!important;
}

/* hide add task */
#editor .action_add_item,
.add_task,
.agenda_add_task {
    line-height: 1.2em!important;
    height: 1.2em!important;
    visibility: hidden;
}

html, body {
    height: 100%;
    overflow: hidden;
}

#todoist_app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}
